div.header {
  > div.topNav {
    padding: 0 30px;
    background-color: #111;
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 10px 10px 0 0 ;
    }
    div.loginbtn {
      display: flex;
      > a {
        margin-left: 10px;
        transition: transform 0.3s;
      }
      > a.sign {
        padding: 13px;
        margin: 10px;
        border: 0;
        background-color: transparent;
        font-weight: 600;
        color: #b3b3b3;
        font-size: 15px;
        flex: 14;
        text-align: end;
      }
      a.sign:hover {
        transform: scale(1.1);
        font-weight: 700;
        color: #fff;
      }
      > a.log {
        padding: 13px 32px;
        margin: 10px;
        border: 1px solid black;
        background-color: white;
        border-radius: 30px;
        font-weight: 700;
        font-size: 15px;
        color: black;
      }
      a.log:hover {
        transform: scale(1.1);
      }
    }
  }


